/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.heading-block.center > span, .heading-block.text-center > span, .center .heading-block > span, .text-center .heading-block > span {
	max-width: 1000px;
	}

#section-services ul li {
	list-style-type:square;
	}
	
.section {
	background-color: #e0e0e0;
	}
